# Ignore bundler config
/.bundle
/vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*

# Ignore paperclip uploads
/public/system/*

# Auto generated ignore from Github
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
