<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</a>
<a class="brand" href="#">ClusterMgmt</a>
<div class="container nav-collapse">
<ul class="nav">
<li><%= link_to "Requests", requests_path  %></li>
<li><%= link_to "Request Statuses", request_statuses_path  %></li>
<li><%= link_to "Link3", "/path3"  %></li>
</ul>
</div><!--/.nav-collapse -->
